.sidebar{
    height: 100vh;
    width: 398px;
    background: red;
}

.heading{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content:start;
    font-size: 30px;
    font-weight:700;
    padding-right: 24px;
}

.date{
    padding-top: 14px;
   padding-right: 24px;
   padding-left: 24px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 10px;
}

  .sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
   
    padding: 30px 16px;
  }
  .sidebar-content .list {
    list-style: none;
  }
  
  
  .overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.3);
  }
  nav.open ~ .overlay {
    opacity: 1;
    left: 260px;
    pointer-events: auto;
  }

  .notifi-item {
	display: flex;
	border-bottom: 1px solid #eee;
	padding: 15px 5px;
	margin-bottom: 15px;
	cursor: pointer;
}
.notifi-item:hover {
	background-color: #eee;
}
.notifi-item img {
	display: block;
	width: 50px;
	margin-right: 10px;
	border-radius: 50%;
}
.notifi-item .text h4 {
	color: #777;
	font-size: 16px;
	margin-top: 10px;
}
.notifi-item .text p {
	color: #aaa;
	font-size: 12px;
}